{% extends 'base.html' %}

{% block title %} Page Error 404{% endblock %}

{% block content %}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center h-100">
  <div class="container w-25 bg-color-rows-content"><span class="h2">Error Page 404</span></div>
  <div class="container bg-light w-25 h-50 border text-center p-3">
    <h1>404</h1>
  </div>
  <a class="btn btn-dark w-25 btn-link-home-page-custom" href="/" role="button"><span class="h3">Go Home Page</span></a>
</div>

{% endblock %}
