{% extends 'base.html' %}

{% block title %} Lista de Tarefas {% endblock %}

{% block content %}
<!--Container Cabeçalo Lista-->
<div class="container bg-light p-1 mt-3">
  <div class="container-fluid d-flex flex-column align-items-center p-2 ">
    <h1>List Task</h1>
  </div>
  <div class='container bg-light p-2'>
    <!-- https://www.youtube.com/watch?v=VAgZE2yQNHY -->
    <!--https://getbootstrap.com/docs/4.0/layout/grid/#equal-width-multi-row-->
    <div class="container-fluid row">

      <div class="container-fluid col-3 m-1 d-flex justify-content-end align-items-center">

        <a class="btn-custom-add" href="#" role="button"><span class="h3">Add Task</span></a>

      </div>

      <div class="container-fluid col-5 d-flex justify-content-end align-items-center m-1">
        <input type="text" class="form-control" placeholder="Enter Task" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
      </div>
    </div>
  </div>

</div>
<div class="container mb-3">

  <ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
      <div class="container row">

        <div class="container col col-3 bg-color-rows-content"><a href=""><img
              src="https://drive.google.com/file/d/1PK98fLteJq4l5rQm5wgUyF35P3pyKhMw/view?usp=share_link" alt=""
              srcset="" width="150px" height="50px"></a>
        </div>
        <!--Para esse div estou criando um link que irá me
        permitir ser redirecionado para outra
        pagina html onde irei poder vizualizar title e descirção
        para isso estou criando uma rota chamada /task/<int:id>
        e entre esse linkcriado estou renderizando cadas task já
        cadatrada no banco sqlite3 pegando o resultado da tag for
        que encapsula todo essse código aqui dispoto
        -->
        <div class="container col col-4 d-flex align-items-center justify-content-start"><span class="h4"><a
              href="/task/{{task.id}}">{{task.title}}</a></span>
        </div>

        <div class="container col col-1 "><button type="button" class="list-group-item list-group-item-action"><span
              class="h4 color-icon-awesome"><i class="fas fa-trash"></i></span></button>
        </div>

        <div class="container col col-1"><button type="button" class="list-group-item list-group-item-action"><span
              class="h4 color-icon-awesome"><i class="fas fa-edit"></i></span></button>
        </div>

        <div class="container col col-3 bg-color-rows-content"></div>

      </div>
    </li>
    {% endfor%}


  </ul>

</div>
{% endblock %}
