{% extends 'base.html' %}

{% block title %} List of the Users {% endblock %}
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-start" style="width:90%; height:80%;">

  <div class="row w-100 text-center">
    <div class="col-12 d-flex flex-column align-items-center">
      <h1>List Users</h1>
    </div>

  </div>
  <div class="class row w-75 mt-3 mb-3">
    <div class="class col-3">
      <a class="btn-custom-add" href="newuser/" role="button"><span class="h3">Add User</span></a>
    </div>
    <div class="class col-6">
      <input type="text" class="form-control" placeholder="Enter Task" aria-label="Recipient's username">
    </div>
  </div>


  <div class="class row w-75 text-center">
    <div class="class col-12">
      <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item">
          <div class="row justify-content-center">
            <div class="container col col-1 bg-color-rows-content"> </div>
            <div class="container col col-6 d-flex align-items-center justify-content-start"><span class="h4">
                <a href="/task/{{task.id}}">{{user.nome}}</a></span>
            </div>
            <div class="container col col-1">
              <a class="btn bt-custom-list" href="#" role="button"><span class="h2 color-icon-awesome"><i
                    class="fas fa-trash"></i></span></a>
            </div>
            <div class="container col col-1">
              <a class="btn bt-custom-list" href="#" role="button"><span class="h2 color-icon-awesome"><i
                    class="fas fa-edit"></i></span></a>
            </div>
            <div class="container col col-1 bg-color-rows-content"></div>

          </div>
        </li>
        {% endfor%}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
