/*CSS Code*/

/*Basic Code*/
body {
  align-items: center;
  display: flex;
  font-family: "Open sans", sans-serif;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

a {
  color: #1e1e1e;
}

a:hover {
  color: red;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

#bar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  border-top: 15px solid #563D7C;
  color: #1e1e1e;
  height: 90px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  background-color: #563D7C;
  color: #1e1e1e;
  height: 80px;
}

#conteudoNavbarSuportado {
  justify-content: end;
}



#ct-liks {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  width: 30%;
}

/*
tasks/templates/tasks/base.html
componente NavBar
*/

.logo-embraer {
  margin-left: 10px;
  height: 40px;
  width: 160px;
  border-radius: 12px;
}



.logo-xpe {
  height: 60px;
  margin-bottom: 6px;
  width: 130px;
  border-radius: 12px;
}


.logo-django {
  margin-left: 8px;
  margin-bottom: 6px;
  height: 60px;
  width: 130px;
  border-radius: 12px;
}

.logo-bootstrap {
  margin-left: 8px;
  height: 50px;
  width: 130px;
  border-radius: 8px;
}


.logo-python {
  /* margin-left: 5px; */
  height: 60px;
  width: 180px;
  border-radius: 12px;
}

.color_default-links {
  color: #563D7C;

}

.color_default-links:hover {
  background-color: #563D7C;
  padding: 10px 10xp;
  border-radius: 8px;
  color: whitesmoke;
}

.rede-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27%;
}

.rede-social img {
  height: 32px;
  width: 32x;
}

#copyright {
  color: whitesmoke;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 3px;
}

/*Lista de conteudo */
.bg-color-rows-content {
  background-color: #563D7C;
  color: whitesmoke;
}

.color-icon-awesome {
  color: #563D7C;
}

.ct-custom-detail {
  color: #1e1e1e;
  background-color: whitesmoke;
  border-radius: 12px;
  border-top: 25px solid #563D7C;
  border-bottom: 20px solid #563D7C;
  height: 400px;
  text-align: center;
  min-height: 400px;
  max-height: 400px;
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}

.ct-custom-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 80%;
  width: 100%;
}

.btn-custom-add {
  background-color: #563D7C;
  border-radius: 5px;
  color: whitesmoke;
  height: 52px;
  display: flex;
  padding: 15px 15px;
  align-items: center;
  justify-content: centger;
  text-decoration: none;
}

.btn-custom-add:hover {
  border: 3px solid #563D7C;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #1e1e1e;
  font-weight: 700;
}

.form-control {
  height: 52px;
  font-size: 23px;
  letter-spacing: 4px;
}

.tx-custom-area {
  font-size: 18px;
  height: auto;
}

.btn .bt-custom-list {
  border: 1px solid #563D7C;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

/*Template/tasks/task.html*/
.bg-custom-color-default {
  background-color: #563D7C;
}

.heigth-custom-defult {
  height: 75%;
}

.btn-link-home-page-custom {
  background-color: #563D7C;
  color: whitesmoke;
}

.btn-link-home-page-custom:hover {
  border: 3px solid #563D7C;
  color: #1e1e1e;
  background-color: whitesmoke;
}
